@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Universal Tag */
*{
    margin: 0;
    padding: 0;
}

/* font */
body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: #FFFFFF;
    
}

/* shared style */
.container{
    width: 90%;
    margin: 3.56rem auto;
    border-radius: 1rem;
}



.primary-btn{
    background-color: #E6533C;
    border:1px solid #E6533C;
    padding:16px 35px 16px 35px;
    border-radius: 2.62rem;
    font-size: 1.12rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0px 14px; 
    color: #FFFFFF;
}


/* heading style */

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.heading-title{
    color: #E6533C;
    font-size: 2rem;
    font-weight: 700;
}


.nav-bar{
    display: flex;
    justify-content:space-evenly;
    gap: 2.93rem;
    align-items: center;
    
}

.nav-bar p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}
.nav-text{
    
    background-color: #E6533C;
    padding:8px 18px 8px 18px;
    border-radius: 2.87rem;
}

.ham-burger{
    color: #FFFFFF;
    display: none;
}

/* banner style */
.banner-text-container h1{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 28px;
}

.banner-text-container p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.75rem;
}
.download-btn{
    background: rgb(0, 0, 0);
    color:#FFFFFF;
    border: 1px solid white;
    padding:16px 35px 16px 35px;
    border-radius: 2.62rem;
    font-size: 1.12rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0px 14px;
}

.banner{
    position: relative;
}


.overlay {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.75rem;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 0.62rem;
    font-size: 1rem;
    text-align: center;}
    
.top-right {
    top: 11.25rem;
    right: -1.87rem;
}
.bottom-left {
    bottom: 1.25rem;
    left: 1.25rem;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;}
    
/* Change habits style */

.change-habits-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3.62rem;
}
.change-habits-content h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.87rem; 
}

.change-habits-content p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}


.change-habits-gallery{
    display: flex;
    justify-content:space-evenly;
    align-items: center;   
}

.img img{
    border-radius: 15.62rem;
    border: 1px solid white;
    margin-bottom: 1.25rem;
}

.img h6{
    font-size: 1.12rem;
    font-weight: 600;
    margin-bottom: 0.31rem;
}
.img p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* run extra mile style */

.extra-mile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    width:1000px;
    padding-top: 0.31rem;
    padding-bottom: 1.25rem;

}

.extra-mile h3{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.87rem;

}

.extra-mile p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2.12rem;
}
.run-img img{
border-radius: 1.12rem;
}

/* bmi calculator style */

.bmi-calculator{
     margin-left:20rem;
     width: auto;
}
.bmi-content h3{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.31rem;
}
.bmi-content p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* bmi calculator & form container style */
.bmi-calculator-form-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    padding: 3.25rem;
    
}

/* BMI table style */
table,th,td{
    border: 1px solid white;} 

.bmi-calculator-table h5{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 1.56rem;
    
}

table{
    width: auto;
    border-collapse: collapse;
}

.table-head{
    font-size: 1rem;
    font-weight: 500;
}

.table-body{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
th, td{
    padding: 0.62rem;
    text-align: center;
}

/* BMI form style */

.bmi-form h5{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom:15px;  
}

.bmi-form p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.93rem;
}


.input-content input,
.input-content select {
    width: 48%;
    padding: 0.31rem;
    border-radius: 0.31rem;
    background: rgba(255, 255, 255, 0.1);
    }

.input-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.62rem;
    background: rgba(255, 255, 255, 0.1);
    
} 
.content select{
   width: 100%;
   
}
input::placeholder {
    color: white;
}

select{
    color:white;
}

/* Gym equipment style */
.gym-equipment-content h3{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 0.87rem;

}

.gym-equipment-content p{
    font-size: 0.87rem;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4.87rem;
}

.gym-equipment-gallery{
    display : grid;
    grid-template-columns: repeat(3,1fr);
    background: rgba(255, 255, 255, 0.1);
    width: auto;
    height: auto;
    padding: 2rem;
    margin: 0 14rem;
    border-radius: 1.25rem;
    gap:3rem;
}

.gym-img img{
    border-radius: 1.12rem;
    border: 1px solid white;
    
}
.gym-img h6{
    margin-top: 1rem;
    color: gainsboro;
    text-align: center;
}
/* meet team style */

.meet-team-content h3{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0.87rem;
    margin-top: 5rem;
}

.meet-team-content p{
    font-size: 0.87rem;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4.87rem;
}

.team-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    background: rgba(255, 255, 255, 0.1);
    width:60%;
    padding:1.5rem;
    position :relative;
    gap:1rem;
    
       
}

.team-image img{
    border-radius: 1.12rem;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
   
}
 
.ovrlay-1{
    position: absolute;
    bottom: 16.62rem;
    left: -24.75rem;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.ovrlay-2{
    position: absolute;
    top: 11.25rem;
    left: -3.75rem;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.ovrlay-3{
    position: absolute;
    top: 11.25rem;
    right: -15.12rem;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.ovrlay-4{
    position: absolute;
    bottom: 1.87rem;
    left: -23.12rem;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px 0;
    

}

.ovrlay-5{
    position: absolute;
    bottom:1.25rem;
    left: -5.62rem;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.ovrlay-6{
    position: absolute;
    bottom: 1.25rem;
    right: -14.5rem;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.ovrlay h6{
    font-size: 1rem;
    font-weight: 600;   
}

.ovrlay  p{
    font-size: 0.87rem;
    font-weight: 400;
    
}

/* footer style */

footer{
    background: rgba(255, 255, 255, 0.1);

}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.87rem;
    
    
}
.footer-title h3{
    color: #E6533C;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom:0.62rem;
}

.footer-title p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    
    
}

.get-started h5{
     font-size: 1.2rem;
     font-weight: 600;
     margin-bottom: 1.25rem;
}

.get-started p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 2rem;
   
}

.hr{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.87rem;
    
}
.footer-content{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center; 
    padding: 1.20rem;
}





















/* Responsive */
/* Mobile device */

@media screen and (max-width:576px) {
    .nav-bar{
        display:none;
    }
    .ham-burger{
        display: block;
        font-size: 1.62rem;
    }
    .container{
        margin: 3rem auto;
    }
    .banner-container{
        display:block;
    }
   
    .primary-btn, .download-btn{
        padding:10px 20px 10px 20px;
        border-radius: 2rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .change-habits-gallery{
        flex-direction: column;
        gap: 1.87rem;
    }
   
    .extra-mile-container{
        flex-direction: column;
        gap:0.62rem;
        width:auto;
        margin:0.62rem;
    }
 
    .extra-mile-container button{
        width: 18.75rem;
        height: 3.12rem;
        margin-bottom: 0.93rem;
        
    }
    .run-img img{
        max-width: 100%;
        
    }
    .bmi-calculator{
        margin:0.62rem;

    }
    .bmi-calculator-form-container{
        flex-direction: column;
        gap: 2.5rem; 
        align-items: flex-start;
    }
    .bmi-form h5{
        margin-bottom: 1.25rem;
    }
    .bmi-form p{
        margin-bottom: 1.25rem;
    }
   form .primary-btn{
        margin-top: 0.93rem;
   }
   .team-gallery{
    grid-template-columns:repeat(1,1fr);
    gap: 0.93rem;
    
    
   }

  .ovrlay-1{
    top: 11.25rem;
    right: -23.75rem;

  }
  .ovrlay-2{
    top:25rem;
    left: -21.56rem;
}
.ovrlay-3{
    top: 40rem;
    left: -22.18rem;  
}

.ovrlay-4{
    bottom: 29.75rem;
    left: -3.10rem;
}

.ovrlay-5{
    bottom:15.62rem;
    left: -23.12rem;
    
}
.ovrlay-6{
    bottom:1.25rem;
    left: -23.12rem; 

} 

.footer-container{
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 1.20rm;
}

}